<div class="text-center row">

	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div id="indexContent">
			<h1 class="heading title">Welcome to Brew Search</h1>
			<span id="glyph"><i class="fa fa-beer mug"></i></span>
			<p class="about">Subjectively, the best source for content on your favorite beer or a new beer. Seriously, if you're a weirdo who likes Pumpkin beer, then you've come to the right place!<br />Before searching for products, you must sign up for Brew Search.</p>
		</div>
	</div>
	<div class="col-md-3"></div>
</div>