<!DOCTYPE html>
<html>
<head>
	<title>Brew Search</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body class="bckgrnd">
	<nav class="navbar navbar-default" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand brewSearch" href="/">Brew Search</a>
		</div>
	
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">

			<% if (!currentUser) { %>
				<li><a href="/auth/signIn">Sign In</a></li>
				<li><a href="/auth/signUp">Sign Up</a></li>
			<% } else { %>	
			<li><a href="/auth/signOut">Sign Out</a></li>
			<li><a href="/search">Search</a></li>
			<li><a href="/likes">myLikes</a></li>
			<p class="navbar-text userDisplay">Signed in as <%= currentUser.name %></p>
			<% } %>
			</ul>
<!-- 			<ul class="nav navbar-nav navbar-right"> -->

<!-- 				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</li> -->
	<!-- 		</ul> -->
		</div><!-- /.navbar-collapse -->
	</nav>

	<div class="container">
      <% include partials/alerts %>
    </div>

	<div class="container">
	<%- body %>
	</div>
</body>
</html>