<div class="container">



	<form action="/results" method="GET" role="form">
		<legend>Craft Beverage Search</legend>
	
		<div class="form-group">
			<!-- <label for=""></label> -->
			<input type="text" class="form-control" id="searchInput" placeholder="ex: Stone IPA" name="q">
		</div>
	
		
	
		<button type="submit" class="btn btn-primary">Search</button>
	</form>

</div>