<div class="row text-center">
	<div class="col-lg-9">
		<div class="well well-lg">
			<h1><%= product.data.name %></h1>
			<p><%= product.data.description %></p><br /><br />
			<% if (typeof product.data.labels !== 'undefined' && typeof product.data.labels.medium !== 'undefined') { %>
			<img src="<%= product.data.labels.medium %>" class="img-thumbnail">
			<% } %>
		</div>
	</div>
	<div class="col-lg-3 well">
		<table class="table">
			<h1>Table</h1>
		</table>
	</div>
</div>
<div class="row">
	<a class="btn btn-info" href="../likes/">Like <%= product.data.name %>?</a>
	

</div>