<div>
	<h1 class="heading">Likes</h1>

	<% likes.forEach(function(like) { %>
	<div class="well well-sm row likes">
			<h1><%= like.name %></h1>

			<a href="<%= '/likes/'+like.id %>" class="btn btn-danger pull-right delete-btn">Remove</a>

	</div>
	
	<% }); %>

</div>
