<h1><%= like.name %></h1>

<a href="/likes/<%= like.id %>" id="delete_like">Delete</a>


<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/static/js/delete.js"></script>