* {
	font-family: 'Playfair Display', serif;
}

.bckgrnd {
	background-color: #9C2E2E;
}

legend {
	color: white;
}

#heading {
	color: white;
}

.brewSearch {
	font-size: 32px;
	font-weight: bold;
}

a {
	font-size: 24px;
}

.shadow {
	-moz-box-shadow: inset 0 0 3px #000000;
	-webkit-box-shadow: inset 0 0 3px #000000;
	box-shadow: inset 0 0 3px #000000;
}

